<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
  <nav>
    <div class="logo">TANGOID - Operaciones & Servicios</div>

      <div class="nav-links">
        <div class="dropdown" data-dropdown>
          <button class="dropbtn" data-dropdown-button>Repuestos</button>
          <div class="dropdown-content">
            <a href="/repuestos/operaciones">Operaciones</a>
            <a href="#herramientas">Bancor</a>
            <a href="#garantia">Garantías/RMA</a>
          </div>
        </div>

        <div class="dropdown" data-dropdown>
          <button class="dropbtn" data-dropdown-button>Soporte</button>
          <div class="dropdown-content">
            <a href="#instalacion">Externo</a>
            <a href="#garantia">Interno</a>
          </div>
        </div>

        <div class="dropdown" data-dropdown>
          <button class="dropbtn" data-dropdown-button>Depósito</button>
          <div class="dropdown-content">
            <a href="#instalacion">Acceso a puerta</a>
            <a href="#garantia">Remitos</a>
          </div>
        </div>

        <a href="/">Inicio</a>

        <div class="dropdown" data-dropdown>
          <button class="dropbtn" data-dropdown-button>Partners</button>
          <div class="dropdown-content">
            <a href="#instalacion">Zebra</a>
            <a href="#garantia">Entust - Datacard</a>
            <a href="#garantia">HID</a>
            <a href="#garantia">TSC</a>
          </div>
        </div>

        <a href="https://www.tangoid.com.ar" target="_blank">TANGOID</a>
        <a href="https://www.idshop.com.ar/" target="_blank">IDSHOP</a>
        <a href="https://www.youtube.com/@DoctorIdOficial" target="_blank">DOCTORID</a>
      </div>
  </nav>
  {{{body}}}
  
  <script src="/js/nav.js"></script>
</html>