<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/styles/nav.css">
</head>

<body>
  <nav>
    <div class="logo">TANGOID - Operaciones & Servicios</div>

    <div class="nav-links">
      <a href="/">Inicio</a>

      <div class="dropdown" data-dropdown>
        <button class="dropbtn" data-dropdown-button>Repuestos</button>
        <div class="dropdown-content">
          <a href="/repuestos/inventario">Inventario</a>
          <a href="#garantia">Garnatía / RMA</a>
        </div>
      </div>

      <div class="dropdown" data-dropdown>
        <button class="dropbtn" data-dropdown-button>Soporte</button>
        <div class="dropdown-content">
          <a href="#instalacion">Externo</a>
          <a href="#garantia">Interno</a>
        </div>
      </div>

      <div class="dropdown" data-dropdown>
        <button class="dropbtn" data-dropdown-button>Depósito</button>
        <div class="dropdown-content">
          <a href="#instalacion">Acceso a puerta</a>
          <a href="#garantia">Remitos</a>
        </div>
      </div>

      <div class="dropdown" data-dropdown>
        <button class="dropbtn" data-dropdown-button>Links</button>
        <div class="dropdown-content">
          <a href="https://www.tangoid.com.ar" target="_blank">TANGOID</a>
          <a href="https://www.idshop.com.ar/" target="_blank">IDSHOP</a>
          <a href="https://www.youtube.com/@DoctorIdOficial" target="_blank">DOCTORID</a>
          <a href="" target="_blank">BOT GPT</a>
        </div>
      </div>

      <div class="dropdown" data-dropdown>
        <button class="dropbtn" data-dropdown-button>Partners</button>
        <div class="dropdown-content">
          <a href="https://www.zebra.com/la/es.html" target="_blank">Zebra</a>
          <a href="https://www.entrust.com/es/" target="_blank">Entust</a>
          <a href="https://www.hidglobal.com/es" target="_blank">HID</a>
          <a href="https://latam.tscprinters.com/es/productos" target="_blank">TSC</a>
        </div>
      </div>



    </div>
  </nav>
  {{{body}}}

  <script src="/js/nav.js"></script>

</html>