<link rel="stylesheet" href="/styles/table.css">

<div id="app">
      <div class="filtros">
        <div class="filtro-izquierda">
          <input
            type="text"
            id="filtroDescripcion"
            placeholder="Buscar por descripción..."
          />
        </div>

        <div class="filtro-derecha">
          <select id="fabricante">
          </select>

          <select id="categoria">
          </select>

          <select id="disponibilidad">
          </select>

          <div class="dropdown" data-dropdown>
            <button class="dropbtn" id="accion-btn" data-dropdown-button>Acción</button>
            <div class="dropdown-content" id="dropdown-content-accion">
              <a href="#instalacion">Nuevo repuesto</a>
              <a href="#garantia">Eliminar seleccionados</a>
            </div>
          </div>
        </div>
          
        </div>
      </div>
    </div>

<script src="/js/repuestos.js"></script>